mkdocs-git-revision-date-plugin
##
attrs
Babel
beautifulsoup4
certifi
charset-normalizer
click
colorama
csscompressor
ghp-import
gitdb
GitPython
google-analytics
htmlmin
idna
importlib-metadata
iso8601
Jinja2
jsmin
Markdown
markdown-include
MarkupSafe
mergedeep
mike
mkdocs
mkdocs-git-revision-date-localized-plugin
mkdocs-plugin-inline-svg
mkdocs-markmap
mkdocs-material
mkdocs-material-extensions
mkdocs-minify-plugin
mkdocs-nav-includer-plugin
mkdocs-section-index
more-itertools
packaging
Pygments
pymdown-extensions
pyparsing
python-dateutil
pytz
PyYAML
pyyaml_env_tag
requests
six
smmap
sob
soupsieve
urllib3
verspec
watchdog
zipp
mkdocs-include-markdown-plugin
mkdocs-redirects
mkdocs-drawio-file
mkdocs-glightbox